{% extends 'base.html.twig' %}
{% block body %}
    <div class="flex flex-col text-center">
        <h1>Liste des coureurs</h1>
            <section class="flex justify-center pt-8">
                <div >
                    <b>Numero dossard</b>
                    {% for coureur in coureurs %}
                    <p>{{ coureur.num_dossard }}</p>
                    {% endfor %}
                </div>
                <div >
                    <b>Nom</b>
                    {% for coureur in coureurs %}
                    <p>{{ coureur.nom }}</p>
                    {% endfor %}
                </div>
                <div >
                    <b>Prenom</b>
                    {% for coureur in coureurs %}
                    <p>{{ coureur.prenom }}</p>
                    {% endfor %}
                </div>
                <div >
                    <b>Date de naissance</b>
                    {% for coureur in coureurs %}
                    <p>{{ coureur.date_naissance }}</p>
                    {% endfor %}
                </div>
                <div >
                    <b>Code Pays</b>
                    {% for coureur in coureurs %}
                    <p>{{ coureur.code_pays }}</p>
                    {% endfor %}
                </div>
                <div >
                    <b>Code Equipe</b>
                    {% for coureur in coureurs %}
                    <p>{{ coureur.code_pays }}</p>
                    {% endfor %}
                </div>
            </section>
    </div>
{% endblock %}